body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: #d8d7d7;
    padding: 15px;
    margin: 0;
}

.task-input {
    display: flex;
}

.task-input textarea {
    font-family: Arial, sans-serif;
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(222, 219, 219);
    border-radius: 5px;
    font-size: 20px;
}

.margin-right {
    margin-right: 10px;
}

.task-input button {
    padding: 15px 15px;
    background-color: #1dc522;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #19a81e;
    transition: all 0.3s ease-out;
}


.archive-btn {
    background-color: rgb(253, 170, 45);
    border: 1px solid rgb(232, 211, 179);
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    color: #4b4a4a;
}

.archive-btn .icon {
    color: rgb(110, 82, 3);
}

.archive-btn:hover {
    background-color: rgb(228, 151, 36);
    transition: all 0.3s ease-out;
}

.archive-btn:active {
    transform: scale(0.9);
    transition: all 0.3s ease-out;
}

.task-list {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(234, 231, 231);
    padding: 15px;
    font-size: 20px;
    border-radius: 2px;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.task-item.completed {
    opacity: 0.6;
}

.line-through {
    text-decoration: line-through;
}

.filter-buttons {
    display: flex;
    margin-top: 10px;
    background-color: #9f9e9e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-buttons button {
    color: rgb(254, 254, 254);
    border: none;
    outline: none;
    background-color: transparent;
    padding: 20px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.filter-buttons button:focus {
    background-color: rgb(182, 181, 181);
}

.filter-buttons button.active {
    background-color: rgb(207, 207, 207);
}

.archive-cont {
    text-align: right;
    margin-top: 12px;
}

.tasks-container {
    border-left: 2px solid rgb(234, 233, 233);
    border-right: 2px solid rgb(234, 233, 233);
    border-bottom: 2px solid rgb(234, 233, 233);
    padding-bottom: 10px;
}

.task-is {
    display: flex;
    align-items: center;
    width: 97%;
    padding-right: 15px;
}

.delete {
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.delete:hover {
    color: rgb(184, 6, 6);
}

.delete:active {
    transform: scale(0.7);
    transition: all 0.1s ease-out;
}

.no-tasks {
    text-align: center;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.pin {
    color: red;
    font-size: 35px;
    transform: rotate(-45deg) translate(2px, -32px);
}

.hide {
    opacity: 0;
}

.hide_it {
    transform: scale(0);
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 600px) {
    .task-input {
        flex-direction: column;
    }

    .task-input input[type="text"] {
        margin-bottom: 10px;
    }
}













































































































































































































